<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>

<body>
<form action="save" method="post">
    <table>
        <tr>
            <td><label>ID</label> </td>
            <td><input type="text" name="id"></td>
        </tr>

        <tr>
            <td><label>NAME</label> </td>
            <td><input type="text" name="name"></td>
        </tr>

        <tr>
            <td><label>Quantity</label> </td>
            <td><input type="text" name="qty"></td>
        </tr>

        <tr>
            <td><label>Price</label> </td>
            <td><input type="text" name="price"></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
<a href="/all">Click to see al products</a>
</body>

</html>